<section class="tributarios">
    <div class="container text-center text-white wow animated fadeIn">
        <h1>Revisoría fiscal y auditaría</h1>
        <h3>Brindamos acompañamiento y orientación constante a nuestros clientes para el alcance de sus objetivos organizacionales. Nuestros servicios de revisoría fiscal y auditoría brindan recomendaciones estratégicas a los diferentes procesos de las empresas.</h3>
    </div>
</section>
<section class="services">
    <div class="container wow animated fadeIn">
        <div class="row">
            <div class="col-md-6">
                <h1>Servicios de auditoría y revisoría fiscal</h1>
                <h3>Nuestro servicio va más allá de la labor normativa, brindamos acompañamiento constante a nuestros clientes encaminados a la innovación, teniendo como base principal nuestro profesionalismo y la innovación.</h3>
            </div>
            <div class="col-md-6">
                <img src="../../../assets/logos-06.png" class="w-100" alt="">
            </div>
        </div>
        <br><br>
        <div class="card mb-3" style="max-width: 100vw;">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="../../../assets/c3.png" class="w-100" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Revisoría Fiscal</h5>
                        <p class="card-text">Nos enfocamos principalmente en el alcance de objetivos organizacionales. Buscamos visualizar su compañía como un todo y analizarla de forma integral, en cumplimiento de las disposiciones legales vigentes.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3" style="max-width: 100vw;">
            <div class="row no-gutters">
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Auditoría y aseguramiento</h5>
                        <p class="card-text">Nuestra firma contribuye a mantener la excelencia en sus informes financieros, asegurándole a su grupo de interés información confiable para la toma de decisiones.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <img src="../../../assets/t1.png" class="w-100" alt="...">
                </div>
            </div>
        </div>
        <div class="card mb-3" style="max-width: 100vw;">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="../../../assets/t2.png" class="w-100" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Auditoría y aseguramiento bajo normas internacionales</h5>
                        <p class="card-text">Contamos con un amplio conocimiento y experiencia en los Estándares Internacionales de Auditoría. Nuestros clientes obtienen auditorías de calidad a través de nuestro profesionalismo, la tecnología y la innovación. Ofrecemos confianza
                            a nuestros clientes.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br>
</section>

<section class="inicio">
    <div class="container text-white wow zoomIn" data-wow-delay="1s">
        <br>
        <div class="row">
            <div class="col-md-6 fn rounded">
                <br><br>
                <h1 class="text-left">Contáctenos</h1>
                <br>
                <div class="container text-left">
                    <a href="https://www.facebook.com/ATF-Consultores-103385491856955/">
                        <h4><i class="fa fa-facebook" aria-hidden="true"></i> Facebook</h4>
                    </a>
                    <a href="https://www.facebook.com/ATF-Consultores-103385491856955/">
                        <h4><i class="fa fa-instagram" aria-hidden="true"></i> Instagram</h4>
                    </a>
                    <a href="mailto:asesor@atfconsultores.com">
                        <h4><i class="fa fa-envelope" aria-hidden="true"></i> asesor@atfconsultores.com</h4>
                    </a>
                    <a href="tel:3118595907">
                        <h4><i class="fa fa-phone" aria-hidden="true"></i> 3118595907</h4>
                    </a>
                    <a href="https://www.google.com/maps/place/Cl.+163b+%2350-80,+Bogot%C3%A1,+Colombia/@4.746244,-74.052871,10z/data=!4m5!3m4!1s0x8e3f859fe3a97e57:0xd9371c44bc62d818!8m2!3d4.7462437!4d-74.0528708?hl=es-419">
                        <h4><i class="fas fa-map-marked-alt"></i> Calle 163b 50 - 80 oficina 6-417</h4>
                    </a>
                    <br><br>
                </div>
            </div>
            <div class="col-md-6">
                <br>
                <img src="../../../assets/logos-07.png" class="w-100" alt="">
            </div>
        </div>
        <br><br><br><br>
    </div>
</section>
<a href="https://api.whatsapp.com/send?phone=573118595907&text=Hola" type="button" style="font-size: 2rem;right: 1rem;left: auto;margin-bottom: .5rem;" class="fixed-bottom btn btn-success rounded rounded-circle wow fadeInRight" data-wow-delay="1s"><i class="fa fa-whatsapp" aria-hidden="true" style="margin-left: .2rem;margin-right: .2rem;"></i></a>