.contacto {
    margin-top: 3rem;
    background-color: #155D66;
    min-height: 90vh;
}

.contacto h1 {
    font-size: 3.5rem;
    padding-top: 5rem;
}

.inicio {
    background-image: url('../../../assets/inicio.png');
    background-size: cover;
    background-position: left;
    background-attachment: fixed;
    min-height: 70vh;
}

.inicio a {
    color: inherit !important;
}

@media (min-width:768px) {
    .inicio {
        background-image: url('../../../assets/inicio.png');
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        min-height: 70vh;
    }
    .inicio a {
        color: inherit !important;
    }
}