<section class="somos">
    <div class="container text-center wow animated fadeIn">
        <br><br>
        <h1>¿Quiénes somos?</h1>
        <img src="../../../assets/logos-07.png" class="w-50" alt="">
        <h3>Somos su consultor contable y financiero, somos soluciones a su alcance</h3>
    </div>
</section>
<section class="resumen">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p>ATF Consultores, es una empresa de Consultoría que ofrece soluciones integrales e innovadoras, comprometida con el desarrollo empresarial que coadyuven a la realización de los negocios de nuestros clientes. <br><br> Nuestro equipo de trabajo:
                    Contamos con un equipo altamente cualificado y avalado por una amplia experiencia en ejercicio de las ciencias contables y financieras. Nuestras áreas de prácticas: Auditoria Integral, Revisoría Fiscal, contabilidad, asesoramiento,
                    consultoría y servicios fiscales. Nuestro Propósito: Buscamos construir relaciones a largo plazo con nuestros clientes, al ofrecer una experiencia de cliente única y satisfactoria mediante una orientación innovadora y profesional sobre
                    asuntos operativos y financieros que apoyen sus objetivos organizacionales.</p>
            </div>
            <div class="col-md-6">
                <img src="../../../assets/resumen.png" class="w-100" alt="">
            </div>
        </div>
    </div>
    <br><br>
</section>

<section class="inicio">
    <div class="container text-white wow zoomIn" data-wow-delay="1s">
        <br>
        <div class="row">
            <div class="col-md-6 fn rounded">
                <br><br>
                <h1 class="text-left">Contáctenos</h1>
                <br>
                <div class="container text-left">
                    <a href="https://www.facebook.com/ATF-Consultores-103385491856955/">
                        <h4><i class="fa fa-facebook" aria-hidden="true"></i> Facebook</h4>
                    </a>
                    <a href="https://www.facebook.com/ATF-Consultores-103385491856955/">
                        <h4><i class="fa fa-instagram" aria-hidden="true"></i> Instagram</h4>
                    </a>
                    <a href="mailto:asesor@atfconsultores.com">
                        <h4><i class="fa fa-envelope" aria-hidden="true"></i> asesor@atfconsultores.com</h4>
                    </a>
                    <a href="tel:3118595907">
                        <h4><i class="fa fa-phone" aria-hidden="true"></i> 3118595907</h4>
                    </a>
                    <a href="https://www.google.com/maps/place/Cl.+163b+%2350-80,+Bogot%C3%A1,+Colombia/@4.746244,-74.052871,10z/data=!4m5!3m4!1s0x8e3f859fe3a97e57:0xd9371c44bc62d818!8m2!3d4.7462437!4d-74.0528708?hl=es-419">
                        <h4><i class="fas fa-map-marked-alt"></i> Calle 163b 50 - 80 oficina 6-417</h4>
                    </a>
                    <br><br>
                </div>
            </div>
            <div class="col-md-6">
                <br>
                <img src="../../../assets/logos-07.png" class="w-100" alt="">
            </div>
        </div>
        <br><br><br><br>
    </div>
</section>
<a href="https://api.whatsapp.com/send?phone=573118595907&text=Hola" type="button" style="font-size: 2rem;right: 1rem;left: auto;margin-bottom: .5rem;" class="fixed-bottom btn btn-success rounded rounded-circle wow fadeInRight" data-wow-delay="1s"><i class="fa fa-whatsapp" aria-hidden="true" style="margin-left: .2rem;margin-right: .2rem;"></i></a>
<button type="button" style="font-size: 2rem;right: 1rem;left: auto;margin-bottom: .5rem;" class="fixed-bottom btn btn-success rounded rounded-circle wow fadeInRight" data-wow-delay="1s"><i class="fa fa-whatsapp" aria-hidden="true" style="margin-left: .2rem;margin-right: .2rem;"></i></button>